<div class=" container ">
  <div class=" row form-horizontal">
    <div class="logo "><br>
      <div class=" text-center ">
        <div class="add_comment form-horizontal">
          <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
          <!-- <div class="comment_section "> -->
          <!-- <div class="commenter"> -->
    
          <div class="form-group">
            <%= form.label :commenter ,:class=>"sr-only " %>
            <%= form.text_field :commenter ,:class=>"form-control",:placeholder=>"Commenter" %>
          </div>

          <!-- </div> -->
          <div class="form-group">

            <%= form.label :body ,:class=>"sr-only col-sm-2"%>
            <%= form.text_field :body ,:class=>"comment_content form-control" ,:placeholder=>"Enter the Comment" %>

          </div>


          <%= form.submit "Create Comment",:class=>"btn btn-primary btn btn-block mybtn btn-primary tx-tfm" %>
          <div></div>
        <% end %>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
