<div class="container" style="margin-top:50px">
  <div class="link_new_article ">
    <h4><%= link_to 'Add New Article', new_article_path ,:class=>"nav-link active text-secondary"%></h4>
  </div>
  <div class="table table-hover">
    <table class="table">
      <thead>
        <tr >
          <th class="text-center">Title</th>
          <th class="text-center">Text</th>
          <th class="text-center" colspan="3">Options</th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <div class="btn-group">
            <td><%= link_to 'Show', article_path(article) ,:class=>"btn btn-primary"%></td>
            <td><%= link_to 'Edit', edit_article_path(article) ,:class=>"btn btn-primary"%></td>
            <td><%= button_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } ,:class=>"btn btn-primary"%></td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>

</div>
