<div class="new_article"><h1>New article</h1>
</div>
<%= form_with model: @article, local: true do |form| %>

<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@article.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="new_articles">
<p >
  <%= form.label :title %>
  <%= form.text_field :title ,:class=>"input_title"%>
</p>

<p>
  <%= form.label :text %><br>
  <%= form.text_area :text ,:id => "mytextarea"%>
</p>

<p>
  <%= form.submit %>
</p>
</div>
<% end %>



<%= link_to 'Back', articles_path %>
